<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<mapper namespace="kr.co.mooi.visitor.dao.VisitorLogDao">

       <insert id="insert" parameterType="VisitorLog" useGeneratedKeys="true" keyProperty="visitorLogNo">
        INSERT INTO visit_log
            (
                member_no,
                ip_addr
            )
            VALUES 
            (
                #{memberNo},
                #{ipAddr}
            )
    </insert>
    
    <!-- <select id="selectByRange" parameterType="int" resultType="VisitorCount">
    	SELECT
    		member_no,
            visitor_ip,
            regdate
    	FROM 
    		product
    	WHERE
    		product_no = #{productNo}
    </select>
    
    <select id="selectByCategory" parameterType="PageBuilder" resultType="Product">
    	SELECT
    		product_no, 
    		category_no,
            name,
            sub_name,
            price,
            cost,
            content,
			front_image,
			regdate
    	FROM 
    		product
    	WHERE
    		category_no = #{categoryNo}
    	LIMIT
    		#{page}, #{count}
    </select>
    
    <select id="selectAll" resultType="Product">
    	SELECT
    		product_no, 
    		category_no,
            name,
            sub_name,
            price,
            cost,
            content,
			front_image,
			regdate
    	FROM 
    		product
    </select> -->
</mapper>
