<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<mapper namespace="kr.co.mooi.product.dao.ProductDao">

       <insert id="insert" parameterType="Product" useGeneratedKeys="true" keyProperty="productNo">
        INSERT INTO product
            (
                category_no,
                name,
                sub_name,
                price,
                cost,
                content,
				front_image            
            )
            VALUES 
            (
                #{categoryNo},
                #{name},
                #{subName},
                #{price},
                #{cost},
                #{content},
                #{frontImage}
            )
       <selectKey resultType="int" order="AFTER" keyProperty="productNo">
       	SELECT LAST_INSERT_ID()
       </selectKey>
    </insert>
    
    <select id="select" parameterType="int" resultType="Product">
    	SELECT
    		product_no, 
    		category_no,
            name,
            sub_name,
            price,
            cost,
            content,
			front_image,
			regdate
    	FROM 
    		product
    	WHERE
    		product_no = #{productNo}
    </select>
    
    <select id="selectByCategory" parameterType="PageBuilder" resultType="Product">
    	SELECT
    		product_no, 
    		category_no,
            name,
            sub_name,
            price,
            cost,
            content,
			front_image,
			regdate
    	FROM 
    		product
    	WHERE
    		category_no = #{categoryNo}
    	LIMIT
    		#{page}, #{count}
    </select>
    
    <select id="selectAll" resultType="Product">
    	SELECT
    		product_no, 
    		category_no,
            name,
            sub_name,
            price,
            cost,
            content,
			front_image,
			regdate
    	FROM 
    		product
    </select>
</mapper>
