<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<mapper namespace="kr.co.mooi.product.dao.ProductDao">

       <insert id="insert" parameterType="Product" useGeneratedKeys="true" keyProperty="productNo">
        INSERT INTO product
            (
                category_no,
                name,
                price,
                cost,
                content,
				front_image            
            )
            VALUES 
            (
                #{categoryNo},
                #{name},
                #{price},
                #{cost},
                #{content},
                #{frontImage}
            )
    </insert>
</mapper>
