<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<mapper namespace="kr.co.mooi.product.dao.ProductDao">

       <insert id="insert" parameterType="Product" useGeneratedKeys="true" keyProperty="productNo">
        INSERT INTO product
            (
                category_no,
                name,
                sub_name,
                price,
                cost,
                content,
				front_image,
				stock            
            )
            VALUES 
            (
                #{categoryNo},
                #{name},
                #{subName},
                #{price},
                #{cost},
                #{content},
                #{frontImage},
                #{stock}
            )
       <selectKey resultType="int" order="AFTER" keyProperty="productNo">
       	SELECT LAST_INSERT_ID()
       </selectKey>
    </insert>
    
     <update id="modify" parameterType="Product">
    	UPDATE product
    	SET 
    		name = #{name},
    		sub_name = #{subName},
    		price = #{price},
    		cost = #{cost},
    		content = #{content},
    		stock = #{stock}
    	WHERE
    		product_no = #{productNo}
    </update>
    
    <delete id="delete" parameterType="int">
    	DELETE FROM product
    	WHERE product_no = #{productNo}
    </delete>
    
    <select id="select" parameterType="int" resultType="Product">
    	SELECT
    		product_no, 
    		category_no,
            name,
            sub_name,
            price,
            cost,
            content,
			front_image,
			regdate,
			stock,
			feature,
			status
    	FROM 
    		product
    	WHERE
    		product_no = #{productNo}

    </select>
    
    <select id="selectByCategory" parameterType="PageBuilder" resultType="Product">
    	SELECT
    		product_no, 
    		category_no,
            name,
            sub_name,
            price,
            cost,
            content,
			front_image,
			regdate,
			stock,
			feature,
			status
    	FROM 
    		product
    	WHERE
    		category_no = #{categoryNo}
    	AND
    		status = 'T'
    	LIMIT
    		#{page}, #{count}
    </select>
    
    <select id="selectAll" resultType="Product">
    	SELECT
    		product_no, 
    		category_no,
            name,
            sub_name,
            price,
            cost,
            content,
			front_image,
			regdate,
			stock,
			feature,
			status
    	FROM 
    		product
    	WHERE
    		status = 'T'
    </select>
    
    <update id="updateStock" parameterType="Product">
    	UPDATE product
    	SET
    		stock = #{stock}
    	WHERE
    		product_no = #{productNo}
    </update>
    
    <update id="updateStatus" parameterType="Product">
        UPDATE product
    	SET
    		status = #{status}
    	WHERE
    		product_no = #{productNo}
    </update>
    
    <update id="addFeature" parameterType="int">
    	UPDATE product
    	SET
    		feature = 'T'
    	WHERE
    		product_no = #{productNo}
    </update>
    
    <update id="removeFeature" parameterType="int">
    	UPDATE product
    	SET
    		feature = 'F'
    	WHERE
    		product_no = #{productNo}
    </update>
    
    <select id="selectNewArrive" resultType="Product">
		SELECT
    		product_no, 
    		category_no,
            name,
            sub_name,
            price,
            cost,
            content,
			front_image,
			regdate,
			stock,
			feature,
			status
    	FROM 
    		product
    	WHERE 
    		stock > 0
    	AND
    		status = 'T'
        ORDER BY 
    		regdate DESC
    	LIMIT
    		0, 6
    </select>
    
    <select id="selectPopular" resultType="Product">
    	SELECT product_no, 
		       category_no, 
		       name, 
		       sub_name, 
		       price, 
		       cost, 
		       content, 
		       front_image, 
		       regdate, 
		       stock,
		       feature 
		FROM   product 
		WHERE  product_no IN (SELECT o.product_no 
		                      FROM   (SELECT product_no, 
		                                     Sum(amount) AS total 
		                              FROM   order_item 
		                              GROUP  BY product_no 
		                              ORDER  BY total DESC)o ) 
		AND
    		status = 'T'
		LIMIT  0, 6
    </select>
    
    <select id="selectFeature" resultType="Product">
    	SELECT product_no, 
		       category_no, 
		       name, 
		       sub_name, 
		       price, 
		       cost, 
		       content, 
		       front_image, 
		       regdate, 
		       stock,
		       feature 
		FROM   product 
		WHERE  feature = 'T'
		AND    status = 'T'
		LIMIT  0,6
    </select>
</mapper>
