<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<mapper namespace="kr.co.mooi.orders.dao.OrdersDao">

       <insert id="insert" parameterType="Orders" useGeneratedKeys="true" keyProperty="ordersNo">
        INSERT INTO orders
            (
                member_no,
                name,
                phone,
                address,
                remain_addr,
                postcode,
                price,
                status,
                content,
                orderer_name,
                orderer_phone
            )
            VALUES 
            (
                #{memberNo},
                #{name},
                #{phone},
                #{address},
                #{remainAddr},
                #{postcode},
                #{price},
                #{status},
                #{content},
                #{ordererName},
                #{ordererPhone}
            )
       <selectKey resultType="int" order="AFTER" keyProperty="ordersNo">
       		SELECT LAST_INSERT_ID()
       </selectKey>
    </insert>
    
    <select id="select" resultType="Orders" parameterType="int">
    	SELECT
  			orders_no, 
  			member_no,
            name,
            phone,
            address,
            remain_addr,
            regdate,
            postcode,
            price,
            status,
            content,
            orderer_name,
            orderer_phone
       	FROM orders
       	WHERE orders_no = #{ordersNo}
    </select>
    
    <select id="selectAll" resultType="Orders">
    	SELECT
  			orders_no, 
  			member_no,
            name,
            phone,
            address,
            remain_addr,
            DATE_FORMAT(regdate, '%Y년 %m월 %d일 %p %h시 %i분') AS regdate,
            postcode,
            price,
            status,
            content,
            orderer_name,
            orderer_phone
       	FROM orders
       	ORDER BY regdate
    </select>
    
  	<select id="selectByMemberNo" resultType="Orders" parameterType="int">
  		SELECT
  			orders_no, 
  			member_no,
            name,
            phone,
            address,
            remain_addr,
            DATE_FORMAT(regdate, '%Y년 %m월 %d일 %p %h시 %i분') AS regdate,
            postcode,
            price,
            status,
            content,
            orderer_name,
            orderer_phone
       	FROM orders
       	WHERE member_no = #{memberNo}
       	ORDER BY regdate DESC
  	</select>
  	
  	<update id="updateStatus" parameterType="Orders">
  		UPDATE orders
  		SET status = #{status}
  		WHERE orders_no = #{ordersNo}
  	</update>
  	
</mapper>
